/*
simple color scheme
sky #CAEBF2
carbon #A9A9A9
Watermelon #FF3B3F
Neutral #EFEFEF
*/

/*@font-face {
  font-family: AgeCustom;
  src: url('Age.otf');
}*/

#answer_title {
  display: none;
}

.language_list {
  /*display: none;*/
}

.question_output_tmp {
  display: none;
}

.ruby_rails {
  display: none;
}

.php_drupal {
  display: none;
}

.java_android {
  display: none;
}

.css_design {
  display: none;
}

.c_net {
  display: none;
}



.jumbotron {
  text-align: center;
  font-family: inherit;
  background-color: #EFEFEF;
}

.redtext {
  color: #FF3B3F;
}

#topbar {
  height: 60px;
  background-color: #CAEBF2;
}

#toplogo {
  height: 60px;
  text-align: center;
  background-color: #FF3B3F;
  font-weight: bolder;
  color: #CAEBF2;
}

#toplogo h1 {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 45px;
}

#navcontainer ul li {
  display: inline;
  font-size: 22;
  margin-right: 5px;
  margin-left: 5px;
}

#navcontainer ul {
  text-align: right;
  margin: 15px;
  padding: 5px;
  list-style-type: none;
}

.button_list li {
  display: inline;
  list-style-type: none;
}

#reccommend_btn {
  margin-left: -30px;
}

#reload_btn {
  margin-left: 10px;
}

.language_list img {
  width: 100px;
  margin-top: 10px;
}

.Ruby img {
  width: 80px;
}

.citation {
  font-style: italic;
  font-size: 11px;
}

.intro {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
}

footer {
  height: 100px;
  margin-top: 100px;
  background-color: #CAEBF2;
}
